@model WordSearch.HiddenWordSearch

@{

}

<div class="flex-container">
    <div style="border: 1px solid black">
        <canvas id="canvasGrid"></canvas>
    </div>
    <div style="border: 1px solid black">
        Hidden Words
    </div>
</div>

