@model WordSearch.WordSearchGrid

<div id="cardWordSearch" class="card" style="display:none">
  <div class="card-header text-center">
      <h5 style="display:inline-block" id="wordSearchDisplayTitle">Some header</h5>
      <button id="buttonEditWordSearch" class="btn" style="float:right">Edit</button>
      <button id="buttonRegenerateWordSearch" class="btn" style="float:right">Regenerate</button>
  </div>
 
  <div class="card-body">
    <div id="wordSearch" class="flex-container">
      <div class="shadow body-rounded" style="border:4px solid black;border-radius:20px;">
        <canvas id="canvasGrid"></canvas>
      </div>
      <div>&nbsp;&nbsp;&nbsp;</div>
      <div id="divWordList" style="font-weight:bold">
        Hidden Words 1
      </div>
    </div>
  </div>
</div>

