@model WordSearch.HiddenWordSearch

<div id="cardWordSearch" class="card" style="display:none">
  <h5 id="wordSearchDisplayTitle" class="card-header text-center">Word Search Title</h5>
  <div class="card-body">
    <div id="wordSearch" class="flex-container">
      <div class="shadow body-rounded" style="border:4px solid black;border-radius:20px;">    
        <canvas id="canvasGrid"></canvas>
      </div>
      <div>&nbsp;&nbsp;&nbsp;</div>
      <div id="divWordList" style="font-weight:bold">
        Hidden Words 1
      </div>
    </div>
  </div>
</div>

