@{
    ViewData["Title"] = "Home Page";
}

<div id="cardWelcome" class="card">
  <div class="card-header">
    Generate Word Search
  </div>
  <div class="card-body">
    <h5 class="card-title">Generate Word Search</h5>
    <p class="card-text">Click Configure Word Search to specify and create a new Word Search Grid.</p>
    <a id="buttonConfigure" href="#" class="btn btn-primary">Configure Word Search</a>
  </div>
</div>
&nbsp

@await Html.PartialAsync("_wordSearch")
@await Html.PartialAsync("_modalConfigure")

@section Scripts
{       
   <script src="js/Home/Index.js"></script>
   <script src="js/Home/AjaxFunctions.js"></script>
   <script src="js/Home/WordSearchService.js"></script>
   <script src="js/Home/WordSearchRender.js"></script>
}
